In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
telecom_orig_df = pd.read_csv('telecom_churn_data.csv')

In [3]:
print('No. of rows and columns---',telecom_orig_df.shape)

No. of rows and columns--- (99999, 226)

In [4]:
telecom_orig_df.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [5]:
telecom_copy_df = telecom_orig_df

In [6]:
## Selecting and filtering the high value customers. Storing in a new dataframe 'telecom_high_val_cust_df'

In [7]:
var_70th_perc = ((telecom_copy_df['total_rech_amt_6'] +  telecom_copy_df['total_rech_amt_7'])/2).quantile(0.7)
var_70th_perc

def isHighValueCust(x):
    if (x>var_70th_perc):
        return 'Y'
    else:
        return 'N'


telecom_copy_df['High_Value_Cust'] = telecom_copy_df['total_rech_amt_9'].map(isHighValueCust)

In [8]:
telecom_high_val_cust_df = telecom_copy_df.loc[telecom_copy_df['High_Value_Cust']=="Y"]
telecom_high_val_cust_df.shape

(29010, 227)

In [39]:
#telecom_high_val_cust_df.to_excel('Telecom_high_val_cust.xlsx')

In [15]:
def findchurn(w,x,y,z):
    if (((w==0) or (x==0)) and ((y==0) or (z==0))):
        return 1
    else:
        return 0
    
    

telecom_high_val_cust_df['churn'] = np.vectorize(findchurn)(telecom_high_val_cust_df['total_ic_mou_9'],telecom_high_val_cust_df['total_og_mou_9'], telecom_high_val_cust_df['vol_2g_mb_9'], telecom_high_val_cust_df['vol_3g_mb_9'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
telecom_high_val_cust_df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,High_Value_Cust,churn
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,NaN,NaN,NaN,2491,0.0,0.00,0.00,0.0,Y,0
15,7002070365,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,31.000,...,NaN,NaN,NaN,270,0.0,0.00,0.00,0.0,Y,0
21,7002124215,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,514.453,...,NaN,NaN,NaN,720,0.0,0.00,0.00,0.0,Y,0
24,7001125315,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,422.050,...,NaN,NaN,NaN,3072,0.0,0.00,0.00,0.0,Y,0
33,7000149764,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,977.020,...,1.0,1.0,1.0,1328,358.1,2706.83,1714.67,0.0,Y,0

In [20]:
telecom_high_val_cust_df['churn'].describe()

count    29010.000000
mean         0.010169
std          0.100329
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: churn, dtype: float64

In [27]:
# Percentage of churn cases
telecom_high_val_cust_df['churn'].sum()/telecom_high_val_cust_df['churn'].count()*100

1.0168907273354015

In [28]:
telecom_high_val_cust_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29010 entries, 3 to 99997
Columns: 228 entries, mobile_number to churn
dtypes: float64(179), int32(1), int64(35), object(13)
memory usage: 49.1+ MB

In [31]:
telecom_high_val_cust_df.isnull().sum()

mobile_number                   0
circle_id                       0
loc_og_t2o_mou                 71
std_og_t2o_mou                 71
loc_ic_t2o_mou                 71
last_date_of_month_6            0
last_date_of_month_7            0
last_date_of_month_8            0
last_date_of_month_9            0
arpu_6                          0
arpu_7                          0
arpu_8                          0
arpu_9                          0
onnet_mou_6                   936
onnet_mou_7                   559
onnet_mou_8                   235
onnet_mou_9                   116
offnet_mou_6                  936
offnet_mou_7                  559
offnet_mou_8                  235
offnet_mou_9                  116
roam_ic_mou_6                 936
roam_ic_mou_7                 559
roam_ic_mou_8                 235
roam_ic_mou_9                 116
roam_og_mou_6                 936
roam_og_mou_7                 559
roam_og_mou_8                 235
roam_og_mou_9                 116
loc_og_t2t_mou_6              936
loc_og_t2t_mou_7              559
loc_og_t2t_mou_8              235
loc_og_t2t_mou_9              116
loc_og_t2m_mou_6              936
loc_og_t2m_mou_7              559
loc_og_t2m_mou_8              235
loc_og_t2m_mou_9              116
loc_og_t2f_mou_6              936
loc_og_t2f_mou_7              559
loc_og_t2f_mou_8              235
loc_og_t2f_mou_9              116
loc_og_t2c_mou_6              936
loc_og_t2c_mou_7              559
loc_og_t2c_mou_8              235
loc_og_t2c_mou_9              116
loc_og_mou_6                  936
loc_og_mou_7                  559
loc_og_mou_8                  235
loc_og_mou_9                  116
std_og_t2t_mou_6              936
std_og_t2t_mou_7              559
std_og_t2t_mou_8              235
std_og_t2t_mou_9              116
std_og_t2m_mou_6              936
std_og_t2m_mou_7              559
std_og_t2m_mou_8              235
std_og_t2m_mou_9              116
std_og_t2f_mou_6              936
std_og_t2f_mou_7              559
std_og_t2f_mou_8              235
std_og_t2f_mou_9              116
std_og_t2c_mou_6              936
std_og_t2c_mou_7              559
std_og_t2c_mou_8              235
std_og_t2c_mou_9              116
std_og_mou_6                  936
std_og_mou_7                  559
std_og_mou_8                  235
std_og_mou_9                  116
isd_og_mou_6                  936
isd_og_mou_7                  559
isd_og_mou_8                  235
isd_og_mou_9                  116
spl_og_mou_6                  936
spl_og_mou_7                  559
spl_og_mou_8                  235
spl_og_mou_9                  116
og_others_6                   936
og_others_7                   559
og_others_8                   235
og_others_9                   116
total_og_mou_6                  0
total_og_mou_7                  0
total_og_mou_8                  0
total_og_mou_9                  0
loc_ic_t2t_mou_6              936
loc_ic_t2t_mou_7              559
loc_ic_t2t_mou_8              235
loc_ic_t2t_mou_9              116
loc_ic_t2m_mou_6              936
loc_ic_t2m_mou_7              559
loc_ic_t2m_mou_8              235
loc_ic_t2m_mou_9              116
loc_ic_t2f_mou_6              936
loc_ic_t2f_mou_7              559
loc_ic_t2f_mou_8              235
loc_ic_t2f_mou_9              116
loc_ic_mou_6                  936
loc_ic_mou_7                  559
loc_ic_mou_8                  235
loc_ic_mou_9                  116
std_ic_t2t_mou_6              936
std_ic_t2t_mou_7              559
std_ic_t2t_mou_8              235
std_ic_t2t_mou_9              116
std_ic_t2m_mou_6              936
std_ic_t2m_mou_7              559
std_ic_t2m_mou_8              235
std_ic_t2m_mou_9              116
std_ic_t2f_mou_6              936
std_ic_t2f_mou_7              559
std_ic_t2f_mou_8              235
std_ic_t2f_mou_9              116
std_ic_t2o_mou_6              936
std_ic_t2o_mou_7              559
std_ic_t2o_mou_8              235
std_ic_t2o_mou_9              116
std_ic_mou_6                  936
std_ic_mou_7                  559
std_ic_mou_8                  235
std_ic_mou_9                  116
total_ic_mou_6                  0
total_ic_mou_7                  0
total_ic_mou_8                  0
total_ic_mou_9                  0
spl_ic_mou_6                  936
spl_ic_mou_7                  559
spl_ic_mou_8                  235
spl_ic_mou_9                  116
isd_ic_mou_6                  936
isd_ic_mou_7                  559
isd_ic_mou_8                  235
isd_ic_mou_9                  116
ic_others_6                   936
ic_others_7                   559
ic_others_8                   235
ic_others_9                   116
total_rech_num_6                0
total_rech_num_7                0
total_rech_num_8                0
total_rech_num_9                0
total_rech_amt_6                0
total_rech_amt_7                0
total_rech_amt_8                0
total_rech_amt_9                0
max_rech_amt_6                  0
max_rech_amt_7                  0
max_rech_amt_8                  0
max_rech_amt_9                  0
date_of_last_rech_6           335
date_of_last_rech_7           192
date_of_last_rech_8           260
date_of_last_rech_9             0
last_day_rch_amt_6              0
last_day_rch_amt_7              0
last_day_rch_amt_8              0
last_day_rch_amt_9              0
date_of_last_rech_data_6    19356
date_of_last_rech_data_7    18675
date_of_last_rech_data_8    17546
date_of_last_rech_data_9    16273
total_rech_data_6           19356
total_rech_data_7           18675
total_rech_data_8           17546
total_rech_data_9           16273
max_rech_data_6             19356
max_rech_data_7             18675
max_rech_data_8             17546
max_rech_data_9             16273
count_rech_2g_6             19356
count_rech_2g_7             18675
count_rech_2g_8             17546
count_rech_2g_9             16273
count_rech_3g_6             19356
count_rech_3g_7             18675
count_rech_3g_8             17546
count_rech_3g_9             16273
av_rech_amt_data_6          19356
av_rech_amt_data_7          18675
av_rech_amt_data_8          17546
av_rech_amt_data_9          16273
vol_2g_mb_6                     0
vol_2g_mb_7                     0
vol_2g_mb_8                     0
vol_2g_mb_9                     0
vol_3g_mb_6                     0
vol_3g_mb_7                     0
vol_3g_mb_8                     0
vol_3g_mb_9                     0
arpu_3g_6                   19356
arpu_3g_7                   18675
arpu_3g_8                   17546
arpu_3g_9                   16273
arpu_2g_6                   19356
arpu_2g_7                   18675
arpu_2g_8                   17546
arpu_2g_9                   16273
night_pck_user_6            19356
night_pck_user_7            18675
night_pck_user_8            17546
night_pck_user_9            16273
monthly_2g_6                    0
monthly_2g_7                    0
monthly_2g_8                    0
monthly_2g_9                    0
sachet_2g_6                     0
sachet_2g_7                     0
sachet_2g_8                     0
sachet_2g_9                     0
monthly_3g_6                    0
monthly_3g_7                    0
monthly_3g_8                    0
monthly_3g_9                    0
sachet_3g_6                     0
sachet_3g_7                     0
sachet_3g_8                     0
sachet_3g_9                     0
fb_user_6                   19356
fb_user_7                   18675
fb_user_8                   17546
fb_user_9                   16273
aon                             0
aug_vbc_3g                      0
jul_vbc_3g                      0
jun_vbc_3g                      0
sep_vbc_3g                      0
High_Value_Cust                 0
churn                           0
dtype: int64