In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Reading the csv file and putting it into 'df' object.
df = pd.read_csv('heart.csv')

In [3]:
df.head()

,age,sex,pain type,BP,cholestrol,fbs,resting ecg,max heart rate,exercise angina,ST depression,ST slope,flouroscopy coloured,thal,heart disease,Unnamed: 14
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2,NaN
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1,NaN
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2,NaN
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1,NaN
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1,NaN

In [4]:
df.columns

Index(['age', 'sex', 'pain type', 'BP', 'cholestrol', 'fbs', 'resting ecg',
       'max heart rate', 'exercise angina', 'ST depression', 'ST slope',
       'flouroscopy coloured', 'thal', 'heart disease', 'Unnamed: 14'],
      dtype='object')

In [5]:
df = df.drop(['Unnamed: 14'], axis=1)

In [6]:
df.head()

,age,sex,pain type,BP,cholestrol,fbs,resting ecg,max heart rate,exercise angina,ST depression,ST slope,flouroscopy coloured,thal,heart disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1

In [7]:
# Putting feature variable to X
X = df.drop('heart disease',axis=1)

# Putting response variable to y
y = df['heart disease']

In [25]:
z = y.map({1:'no',2:'yes'})

In [26]:
z

0      yes
1       no
2      yes
3       no
4       no
5       no
6      yes
7      yes
8      yes
9      yes
10      no
11      no
12      no
13     yes
14      no
15      no
16     yes
17     yes
18      no
19      no
20     yes
21      no
22      no
23      no
24      no
25      no
26      no
27      no
28     yes
29      no
      ...
240    yes
241     no
242     no
243    yes
244     no
245    yes
246    yes
247     no
248    yes
249    yes
250    yes
251     no
252    yes
253     no
254     no
255     no
256     no
257    yes
258    yes
259     no
260     no
261    yes
262    yes
263     no
264    yes
265     no
266     no
267     no
268     no
269    yes
Name: heart disease, Length: 270, dtype: object

In [27]:
from sklearn.tree import DecisionTreeClassifier

# Fitting the decision tree with default hyperparameters, apart from
# max_depth which is 5 so that we can plot and read the tree.
dt_default = DecisionTreeClassifier(max_depth=3)
dt_default.fit(X, z)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [28]:
# Importing required packages for visualization
from IPython.display import Image  
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydotplus, graphviz

# Putting features
features = list(X.columns[0:])
features

['age',
 'sex',
 'pain type',
 'BP',
 'cholestrol',
 'fbs',
 'resting ecg',
 'max heart rate',
 'exercise angina',
 'ST depression',
 'ST slope',
 'flouroscopy coloured',
 'thal']

In [29]:
# If you're on windows:
# Specifing path for dot file.
import os
os.environ["PATH"] += os.pathsep + 'D:/Arpita/MachineLearning-Upgrad/Libraries/graphviz-2.38/release/bin'

In [32]:
# plotting tree with max_depth=3
dot_data = StringIO()  
export_graphviz(dt_default, out_file=dot_data,class_names=dt_default.classes_,
                feature_names=features, filled=True,rounded=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf("dt_heartdisease.pdf")

True

In [30]:
dt_default.classes_

array(['no', 'yes'], dtype=object)

In [12]:
# the pdf with the tree will be written in this directory on your system
import os
os.getcwd()

'C:\\Users\\Arpita Datta\\Documents\\PythonWorkspace\\DecisionTrees'

You will find the output PDF file in your user folder under C drive, if you are using default directory for Anaconda.