In [1]:
print('Hello World')

Hello World

In [4]:
a=9
b=8
print ('Sum:',a+b)

Sum: 17

In [6]:
a=True
b=False
print('AND:', a and b)
print('OR:', a or b)

AND: False
OR: True

In [12]:
str='Kumar_Ravi_003'
new_str = str.split('_')[0]
print(new_str)

Kumar

In [14]:
str='4Arpita  Datta*%&&&&&'
print('After modify:' ,str.rstrip('&'))

After modify: 4Arpita  Datta*%

In [16]:
a=7
print('Sum=', a+7)
a=a+8.9
print('Now string:',a/3)

Sum= 14
Now string: 5.3

In [19]:
from math import factorial, sqrt
n=5
print('Factorial: ', factorial(n), sqrt(n))

Factorial:  120 2.23606797749979

In [24]:
from math import factorial
print ('Enter a number:')
num = input()
print ('The factorial of ', num , ' is ', factorial(int(num)))

Enter a number:
4
The factorial of  4  is  24

In [26]:
s="Arpita"
type(s[3])

str

In [4]:
# Multi-line strings
s1 = """This is
a multi-line string"""
print(s1)

This is
a multi-line string

In [12]:
#Lists 
list1 =  []  #empty list
list1.append(1.23)
list1.append("apple")
list1.append(4)
print("List values:", list1)
list2 = list("apple") #creating list using constructor
print("New List:", list2)

List values: [1.23, 'apple', 4]
New List: ['a', 'p', 'p', 'l', 'e']

In [13]:
#dict -- dictionaries
dict1 = {"kolkata":334232, "delhi":325543, "mumbai":113133, "chennai":897322}
print("New dictionary created", dict1)
print("Population of Mumbai is", dict1["mumbai"])
dict1["delhi"] = 887686
print ("updated population of delhi is", dict1["delhi"])
dict1["hyderabad"] = 883213
print("New city appended, entire dictionary now is", dict1)

New dictionary created {'kolkata': 334232, 'delhi': 325543, 'mumbai': 113133, 'chennai': 897322}
Population of Mumbai is 113133
updated population of delhi is 887686
New city appended, entire dictionary now is {'kolkata': 334232, 'delhi': 887686, 'mumbai': 113133, 'chennai': 897322, 'hyderabad': 883213}

In [15]:
#For loop
for city in dict1:
    print ("City:",city, "   Population:", dict1[city])

City: kolkata    Population: 334232
City: delhi    Population: 887686
City: mumbai    Population: 113133
City: chennai    Population: 897322
City: hyderabad    Population: 883213

In [17]:
from urllib.request import urlopen
with urlopen("http://sixty-north.com/c/t.txt") as  story:
    word_list = []
    for line in story:
        words = line.split()
        for word in words:
            word_list.append(word.decode("utf8")) #original text contains words in bytes format
print ("All words:", word_list)

All words: ['It', 'was', 'the', 'best', 'of', 'times', 'it', 'was', 'the', 'worst', 'of', 'times', 'it', 'was', 'the', 'age', 'of', 'wisdom', 'it', 'was', 'the', 'age', 'of', 'foolishness', 'it', 'was', 'the', 'epoch', 'of', 'belief', 'it', 'was', 'the', 'epoch', 'of', 'incredulity', 'it', 'was', 'the', 'season', 'of', 'Light', 'it', 'was', 'the', 'season', 'of', 'Darkness', 'it', 'was', 'the', 'spring', 'of', 'hope', 'it', 'was', 'the', 'winter', 'of', 'despair', 'we', 'had', 'everything', 'before', 'us', 'we', 'had', 'nothing', 'before', 'us', 'we', 'were', 'all', 'going', 'direct', 'to', 'Heaven', 'we', 'were', 'all', 'going', 'direct', 'the', 'other', 'way', 'in', 'short', 'the', 'period', 'was', 'so', 'far', 'like', 'the', 'present', 'period', 'that', 'some', 'of', 'its', 'noisiest', 'authorities', 'insisted', 'on', 'its', 'being', 'received', 'for', 'good', 'or', 'for', 'evil', 'in', 'the', 'superlative', 'degree', 'of', 'comparison', 'only']