In [1]:
import numpy as np
import pandas as pd

In [3]:
pd_list1 = pd.Series([6,7,8,9,2,3,4,5])
print(pd_list1)

0    6
1    7
2    8
3    9
4    2
5    3
6    4
7    5
dtype: int64

In [6]:
pd_list2 = pd.Series(pd_list1 ** 2) 
print (pd_list2)

In [8]:
tempfunc = lambda x : x ** 2
pd_list3 = pd_list1.apply(tempfunc) 
print (pd_list3)

0    36
1    49
2    64
3    81
4     4
5     9
6    16
7    25
dtype: int64

In [15]:
n = int(input())
#series_1 = pd.Series(np.arange(1,n+1)**2,index=np.arange(1,n+1))
series_1 = pd.Series(np.array(range(1,n+1))**2, index=range(1,n+1))
print(series_1)

4
1     1
2     4
3     9
4    16
dtype: int32

In [22]:
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#print (df.head())
df_2 = df.set_index('X', inplace=False)#Type your code here
print(df_2.head())

   Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
X
7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [8]:
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )

In [9]:
gold.set_index('Country', inplace=True)
silver.set_index('Country', inplace=True)
bronze.set_index('Country', inplace=True)

In [12]:
total = gold.add(silver, fill_value=0).add(bronze, fill_value=0)
total.sort_values(by='Medals', ascending=False)

         Medals
Country
USA        72.0
France     53.0
UK         27.0
Russia     25.0
Germany    20.0

In [18]:
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#Type your groupby command here
df_1 = df.groupby(['month','day'])
df_1 = df_1['rain','wind'].mean()#Type your code to find the mean of columns 'rain' and 'wind'
print(df_1.head(20))

               rain      wind
month day
apr   fri  0.000000  3.100000
      mon  0.000000  3.100000
      sat  0.000000  4.500000
      sun  0.000000  5.666667
      thu  0.000000  5.800000
      wed  0.000000  2.700000
aug   fri  0.066667  4.766667
      mon  0.000000  2.873333
      sat  0.000000  4.310345
      sun  0.025000  4.417500
      thu  0.000000  3.503846
      tue  0.300000  4.567857
      wed  0.000000  3.520000
dec   fri  0.000000  4.900000
      mon  0.000000  8.500000
      sun  0.000000  8.500000
      thu  0.000000  4.900000
      tue  0.000000  8.500000
      wed  0.000000  8.000000
feb   fri  0.000000  4.820000