In [1]:
import pandas as pd

In [2]:
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')

In [3]:
marks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
Prefix        99 non-null int64
Assignment    97 non-null float64
Tutorial      87 non-null float64
Midterm       83 non-null float64
TakeHome      90 non-null float64
Final         94 non-null float64
dtypes: float64(5), int64(1)
memory usage: 4.7 KB

In [16]:
marks.isna().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [ ]:
marks.isna().sum(axis=1)

In [5]:
marks.loc[marks.isna().sum(axis=1)==5]

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
73       7         NaN       NaN      NaN       NaN    NaN
90       8         NaN       NaN      NaN       NaN    NaN

In [8]:
marks = marks.loc[marks.isnull().sum(axis=1)!=5]
marks.isnull().sum()
marks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 98
Data columns (total 6 columns):
Prefix        97 non-null int64
Assignment    97 non-null float64
Tutorial      87 non-null float64
Midterm       83 non-null float64
TakeHome      90 non-null float64
Final         94 non-null float64
dtypes: float64(5), int64(1)
memory usage: 5.3 KB

In [9]:
customer = pd.read_csv('https://query.data.world/s/y9rxL9mGdP6AXPiDaIL4yYm6DsfTV2')

In [10]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1832 entries, 0 to 1831
Data columns (total 5 columns):
Customer_Name       1832 non-null object
Province            1832 non-null object
Region              1832 non-null object
Customer_Segment    1832 non-null object
Cust_id             1832 non-null object
dtypes: object(5)
memory usage: 35.8+ KB

In [11]:
customer.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [20]:
ccustomer['Cust_id'].str[customer['Cust_id'].str.find('_'):customer['Cust_id'].str.len()]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
1802   NaN
1803   NaN
1804   NaN
1805   NaN
1806   NaN
1807   NaN
1808   NaN
1809   NaN
1810   NaN
1811   NaN
1812   NaN
1813   NaN
1814   NaN
1815   NaN
1816   NaN
1817   NaN
1818   NaN
1819   NaN
1820   NaN
1821   NaN
1822   NaN
1823   NaN
1824   NaN
1825   NaN
1826   NaN
1827   NaN
1828   NaN
1829   NaN
1830   NaN
1831   NaN
Name: Cust_id, Length: 1832, dtype: float64

In [ ]:
customer['Cust_id'].apply()

In [16]:
c='Cust_1'
c=c[c.find('_')+1::]
c

'1'