### Exercise 1

Mapping Variables
Description
You're given two lists, the first of which contains the name of some people and the second contains their corresponding 'response'. These lists have been converted to a dataframe. 
Now, the values that the 'response' variable can take are ‘Yes’, ‘No’, and ‘Maybe’. Write a code to map these variables to the values ‘1.0’, ‘0.0’, and ‘0.5’.

Note: It also might happen the the first letter of the three responses are not in uppercase, i.e. you might also have the values 'yes', 'no', and 'maybe' in the dataframe. So make sure you handle that in your code.

Example:
Input 1:
['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay']
['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']

In [ ]:
import numpy as np
import pandas as pd

In [4]:
import ast,sys

In [6]:
#input_str = sys.stdin.read()
#input_list = ast.literal_eval(input_str)
# Storing the names in a variable 'name'
#name = input_list[0]
# Storing the responses in a variable 'repsonse'
#response = input_list[1]
input_list = [['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay'], ['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']]
name = input_list[0]
response = input_list[1]

In [7]:
df = pd.DataFrame({'Name': name,'Response': response})

In [8]:
df.head()

       Name Response
0   Reetesh       No
1    Shruti    Maybe
2  Kaustubh      yes
3     Vikas      Yes
4    Mahima    maybe

In [ ]:
# Define a function to map the categorical variables to appropriate numbers
def response_map(x):
    return x.map({'Yes': 1, 'yes': 1, 'No': 0, 'no': 0, 'Maybe': 0.5, 'maybe': 0.5})

In [9]:
def responsemap(x):
    if x.upper()=='YES':
        result = 1.0
    elif x.upper()=='MAYBE':
        result = 0.5
    else:
        result = 0.0
    return result

df['Response']=df['Response'].apply(responsemap)

In [11]:
df

       Name  Response
0   Reetesh       0.0
1    Shruti       0.5
2  Kaustubh       1.0
3     Vikas       1.0
4    Mahima       0.5
5    Akshay       1.0

Suppose you performed encoding with the variable ‘BloodGroup’ having four levels, ‘A’, ‘B’, ‘AB’, and ‘O’. To perform the encoding, you wish to drop two of the levels, ‘AB’ and ‘O’. 
Suggest a suitable encoding process that will now represent the four levels.

In [20]:
bloodGroup_df = pd.DataFrame([['P1','A'],
                              ['P2','AB'],
                            ['P3','O'],
                            ['P4','B'],
                            ['P5','O']],columns=['Person','BloodGroup'] )
bloodGroup_df

  Person BloodGroup
0     P1          A
1     P2         AB
2     P3          O
3     P4          B
4     P5          O

In [24]:
def bloodGroupMap(x):
    if x.upper() == 'A':
        result=1
    elif x.upper()=='B':
        result=2
    else:
        result=0
    return result

bloodGroup_df['BG_Map'] = bloodGroup_df['BloodGroup'].apply(bloodGroupMap)

In [25]:
bloodGroup_df

  Person BloodGroup  BG_Map
0     P1          A       1
1     P2         AB       0
2     P3          O       0
3     P4          B       2
4     P5          O       0